/* reset */
/* @font-face{
	font-family: 'Cantata One';
    src: url('../fonts/CantataOne/cantataone-webfont.woff2') format('woff2'),
         url('../fonts/CantataOne/cantataone-webfont.woff') format('woff'),
         url('../fonts/CantataOne/CantataOne-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
} */
ul{list-style: none;margin: 0;padding: 0;font-size: 0;}
body{font: 14px/1.8 "Open Sans", sans-serif;color: #aaa;}
small{font-family: "Open Sans", sans-serif;font-size: 50%;display: block;line-height: 2;}
h1, h2, h3, h4, h5, h6,.section-header .section-title, .countdown-time, .h2, .counter-value, .h3, .h4, .h5, .footer-widgets .widget-title, .photo-item .title, .h6{font-family:"Cantata One", serif;font-weight: 400;line-height: 1.4;color: #666;}
.separator{width: 60px;height: 2px;background: #b84746;margin: 25px auto;}
section .section-title{width: 100%;text-align: center;text-transform: uppercase;}
section .section-title .lead{font-size: 17px;font-weight: 400;line-height: 2;padding: 0 10%;margin-bottom: 25px;text-transform: none;}
/* 预加载动画 */
.preload{position: fixed;width: 100%;height: 100%;z-index: 9999;background: #b84746;left: 0;top: 0;right: 0;bottom: 0;}
.wrap{position: relative;top: 45%;width: 50px;height: 40px;margin: 0 auto;text-align: center;}
.wrap>div{display: inline-block;height: 100%;width: 6px;animation: 1.2s infinite ease-in-out streching;background: #fff;}
@keyframes streching{
	0%,40%,100%{transform: scaleY(0.4);}
	20%{transform: scaleY(1)}
}
.wrap .bar1{animation-delay: -1.2s}
.wrap .bar2{animation-delay: -1s}
.wrap .bar3{animation-delay: -0.8s}
.wrap .bar4{animation-delay: -0.6s}
.wrap .bar5{animation-delay: -0.4s}

/* 导航  */
.navbar{background: #b84746;height: 80px;}
.navbar .navbar-right>li>a{padding: 27.5px 20px;line-height: 25px;text-transform: uppercase;color: rgba(255, 255, 255, 0.8)}
.navbar .navbar-right>li>a:hover{background: #b84746;color: #fff;}

/* 头部 */
.home-header{margin-top: 80px;}
.home-header .header-content{padding-top: 25%;padding-bottom: 25%;text-align: center;}
.home-header .header-content h1{font-size: 70px;margin: 0;animation: 2s 1s bounceIn;}
@keyframes bounceIn{
	0%, 20%, 40%, 60%, 80%, 100%{transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);}
	0%{opacity: 0; transform: scale3d(0.3, 0.3, 0.3)}
	20%{transform: scale3d(1.1, 1.1, 1.1)}
	40%{transform: scale3d(0.9, 0.9, 0.9)}
	60%{opacity: 1; transform: scale3d(1.03, 1.03, 1.03)}
	80%{transform:scale3d(0.97, 0.97, 0.97)}
	100%{opacity: 1;transform: scale3d(1, 1, 1)}
}
.home-header .header-content h1 .text-white{color: #fff;}
.home-header .header-content h1 .text-color{color: #b84746;}
.home-header .header-content p{font-size: 21px;letter-spacing: 4px;color: #fff;margin: 0 0 12.5px; animation:1.5s 1.5s fadeInUp;}
@keyframes fadeInUp{
	from{opacity: 0; transform: translate3d(0, 100%, 0);}
	to{opacity: 1;transform: none;}
}
/* 倒计时 */
.countdown{padding: 50px 0;text-align: center;}
.countdown .countdown-time{font-size: 70px;color: #b84746;height: 80px;}
.countdown .countdown-label{display: block;text-transform: uppercase;letter-spacing: 2px;}


/* couple信息 */
.couple{background: #FBF5ED url('../image/section_s.jpg') no-repeat;background-size: 100% auto;}

/* .couple .couple-header h1{text-transform: uppercase;}
.couple .couple-header p{font-size: 17px;font-weight: 400;line-height: 2;padding: 0 10%;margin-bottom: 25px;} */
.couple .couple-wrap{padding: 50px;}
.couple .couple-item{padding: 50px;background: #fff;border: 1px solid transparent;border-radius: 5px;box-shadow: 0 2px 1px rgba(0, 0, 0, 0.05);margin: 100px 0;text-align: center;}
.couple .couple-item .item-head{background: #B84746;border: 13px solid #fff;border-radius: 50%;position: relative;top: -180px;margin-bottom: -180px;overflow: hidden;display: inline-block;}
.couple .couple-item .item-head .link{position: absolute;top: 10%;left: 10%;width: 80%;height: 80%;background: #fff;padding-top: 80px;border-radius: 50%;vertical-align: middle;/* transform: scale(1.3);transition: 0.3s; */transform: scale(0, 0)}
.couple .couple-item .item-head .link>a{padding: 5px;color: #fff;}

.couple .couple-item .item-body{padding: 15px;}
.couple .couple-item .item-body h3{font-size: 26px;color: #B84746;}
.couple .couple-item .item-body small{letter-spacing: 7px;color: #d0d0d0;}
.couple .couple-item .item-body p{font-size: 17px;}
/* 公司成就 */
.parallax{padding: 100px 0;text-align: center;position: relative;}
.parallax:before{content: '';background: rgba(184, 71, 70, 0.85);height: 100%;width: 100%;z-index: 0;position: absolute;left: 0;top: 0;}
.parallax .counter-value{color: #fff;font-size: 4em;line-height: 1em;margin-bottom: 0;}
.parallax .counter-desc{color: rgba(255, 255, 255, 0.7);text-transform: uppercase;}


/* 婚礼模式 */
.events{background: #FBF5ED url('../image/section_s.jpg') no-repeat;background-size: 100% auto;padding: 100px 0;}
.events-wrap{padding: 50px;}
.events-wrap .events-item{overflow: hidden;border-radius: px;background: #fff;margin-bottom: 25px;border: 1px solid transparent;box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);text-align: center;}
.events-wrap .events-item .item-head{padding: 0;border: 0;border-top-left-radius: 3px;border-top-left-radius: 3px;}
.events-wrap .events-item .item-head .link{position: relative;background: #B84746;overflow: hidden;}
.events-wrap .events-item .item-head .link>img{display: block;max-width: 100%;height: auto;}
.events-wrap .events-item .item-head .link>i{position: absolute; color: #fff;width: 30px;height: 30px;font-size: 25px;margin-left: -15px;margin-top: -15px;transform: translateY(20px);}
.events-wrap .events-item .item-body {padding: 15px;}
.events-wrap .events-item .item-body h5{color: #B84746;font-size: 17px;}
.events-wrap .events-item .item-body small{color:#d0d0d0;letter-spacing: 5px;}


/* 照片展示 */
.photos{width: 100%;}
.photos .photo-wrap{width: 100%;position: relative;overflow: hidden;left: 0;margin: 0;padding: 0;margin-bottom: 40px;}
.photos .photo-wrap ul{width: 3792px;position: relative;left: 0;top: 0;overflow: hidden;}
.photos .photo-wrap ul li{display: inline-block;width: 316px;}
.photos .photo-wrap ul li img{width: 100%;height: auto;}
.photos .text-justify{text-align: justify;margin: 40px 0;}
.photos .text-justify span{color: #B84746;float: left;font-size: 45px;width: 45px;height: 50px;margin: 15px 10px 0 0;line-height: 50px;text-align: center;font-family: "Cantata One", serif;}

.photos .photo-foot{text-align: center;padding: 25px 0 50px;margin-top: 50px;background: #FBF5ED;}

.btn-primary.btn-lg{padding: 18px 48px;background: #B84746;border-radius: 50px;font-size: 14px;line-height: 1.8;text-transform: uppercase;font-family: "Cantata One", serif;letter-spacing: 2px;margin-top: -80px;border: none;}
.btn-primary.btn-lg:hover{background: #a6403f}

/* 爱的宣言 */
.intro{background: url('../image/section_bg(1).jpg') no-repeat;background-size: 100% auto;position: relative;}
.intro:before{content: '';width: 100%;height: 100%;position: absolute;left: 0;top: 0;background: rgba(184, 71, 70, 0.85);}
.intro .row{text-align: center;}
.intro i{width: 10px;height: 10px;border-radius: 5px;}

/* 赞助商 */
.sponsor{width: 100%;position: relative;overflow: hidden;padding: 90px 0;}
.sponsor ul{position: relative;width: 3000px;overflow: hidden;font-size: 0;}
.sponsor ul li{width: 250px;display: inline-block;}

/* blog */
.blog{background: #FBF5ED;padding: 100px 0;}
.blog .blog-wrap{/* padding: 15px; */border-radius: 50%;position: relative;}
.blog .blog-wrap img{width: 100%;height: auto;}
.blog .blog-wrap .blog-body{position: absolute;}

/* 申请表 */
.rsvp{padding: 100px 0;}
.rsvp .form-wrap{border-radius: 7px;box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);background: #FBF5ED;margin-bottom: 30px;}
.rsvp .form-wrap .form-rsvp{margin-top: 10px;padding: 48px 60px;}
.rsvp .form-wrap .form-rsvp>.form-control{margin-bottom: 15px;padding: 14px 18px;height: auto;box-shadow: none;}
.rsvp .form-wrap .form-rsvp .submit-wrap{position: absolute;width: 100%;text-align: center;left: 0;bottom: 0;}

/* 会员 */
.member{padding: 50px 0;}
.member .no-bg{margin-top: 0;background: #c8c8c8;}
.member .no-bg:hover{background: #94949A}

/* 地图 */
.gmap{height: 400px;position: relative;}
.gmap .map-wrap{position: absolute;width: 100%;height: 100%;background: rgb(229, 227, 223);left: 0;top: 0;}

/* 页脚 */

.footer-b{padding: 50px 0;background: #494C4B;}